<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<h1 style="text-align:center">
Bienvenido a {{title}} {{nombre}}
</h1>
<div class="container-lg border border-dark align-middle container mt-10">
  <table class="table text-center">
    <tr>
      <div colspan="2" class="row align-items-center"><input type="text" id="result" readonly>
      </div>
    </tr>
    <tr>
      <td onclick="display('9')" class=" text-white bg-secondary border border-dark"> 9</td>
      <td onclick="display('8')" class=" text-white bg-secondary border border-dark">8</td>
      <td onclick="display('7')" class=" text-white bg-secondary border border-dark">7</td>
      <td onclick="clearResult()"class=" text-white bg-info border border-dark">DEL</td>
    </tr>
    <tr>
      <td onclick="display('6')" class=" text-white bg-secondary border border-dark">6</td>
      <td onclick="display('5')" class=" text-white bg-secondary border border-dark">5</td>
      <td onclick="display('4')" class=" text-white bg-secondary border border-dark">4</td>
      <td  onclick="display('/')" class=" text-white bg-info border border-dark">/</td>
    </tr>
    <tr>
      <td  onclick="display('3')" class=" text-white bg-secondary border border-dark">3</td>
      <td  onclick="display('2')" class=" text-white bg-secondary border border-dark">2</td>
      <td  onclick="display('1')" class=" text-white bg-secondary border border-dark">1</td>
      <td  onclick="display('*')" class=" text-white bg-info border border-dark">X</td>
    </tr>
    <tr>
      <td  onclick="display('.')" class=" text-white bg-secondary border border-dark">.</td>
      <td  onclick="display('0')" class=" text-white bg-secondary border border-dark">0</td>
      <td  onclick="display('00')" class=" text-white bg-secondary border border-dark">00</td>
      <td  onclick="display('-')" class=" text-white bg-info border border-dark">-</td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td  onclick="display('+')" class=" text-white bg-info border border-dark">+</td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td  onclick="calculate()" class=" text-white bg-info border border-dark">=</td>
    </tr>

  </table>
  </div>
